In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4), index=['R1','R2','R3','R4','R5'], columns=['C1', 'C2', 'C3', 'C4'])

In [4]:
df.head()

    C1  C2  C3  C4
R1   0   1   2   3
R2   4   5   6   7
R3   8   9  10  11
R4  12  13  14  15
R5  16  17  18  19

In [7]:
df.to_csv('Test.csv')

In [8]:
df.loc['R1']

C1    0
C2    1
C3    2
C4    3
Name: R1, dtype: int64

In [9]:
type(df.loc['R1'])

pandas.core.series.Series

In [10]:
df.iloc[0:2, 1:2]

    C2
R1   1
R2   5

In [11]:
type(df.iloc[0:2, 1:2])

pandas.core.frame.DataFrame